<div class = "side-bar-frame">
  <div class = "title">
    <p class = "item"> <%= link_to '変動費の記入',new_variablecost_path %> </p>
    <p class = "item">固定費の記入</p>
    <p class = "item">収入の設定</p>
  </div>
</div>