<div class = "side-bar-frame">
  <div class = "title">
    <p class = "item"> <%= link_to '変動費の記入',new_variablecost_path %> </p>
    <p class = "item"> <%= link_to '固定費の記入',new_fixedcost_path %> </p>
    <p class = "item"> <%= link_to '収入の記入',new_incom_path %> </p>
  </div>
</div>